{{#isFormParam}}{{#notFile}}@Param("{{baseName}}"){{#defaultValue}} @Default("{{{defaultValue}}}"){{/defaultValue}} {{{dataType}}} {{paramName}}{{/notFile}}{{#isFile}}HttpRequest {{paramName}}{{/isFile}}{{/isFormParam}}