{{#isFormParam}}{{#notFile}}@Param("{{baseName}}"){{#defaultValue}} @Default("{{{defaultValue}}}"){{/defaultValue}} {{paramName}} : {{{dataType}}}{{/notFile}}{{#isFile}}req : HttpRequest{{/isFile}}{{/isFormParam}}